@font-face {
    font-family: Gotham;
    src: url("./fonts/gotham/gotham-book-regular.otf") format("opentype");
}

@font-face {
    font-family: Garet;
    src: url("./fonts/garet/garet-light-webfont.woff") format("woff");
}